/*
fichier css regroupant toutes les règles de style du jeu d'échecs
certaines règles simples sont implémentées directement sur l'objet par souci de simplicité
*/

/*
ids personnalisés
*/

#gameVbox {
    -fx-background-color: #21201D;
}

#playText {
    -fx-text-fill: lightgreen;
    -fx-font-size: 30px;
}

#playButton {
    -fx-text-fill: white;
    -fx-font-weight: 900;
    -fx-font-size: 25px;
    -fx-background-color: red;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, #3ea83e, 10, 0, 0, 1);
}

#playerNameTextfield{
    -fx-font-style: italic;
    -fx-font-weight: 100;
}

#playButton:hover {
    -fx-effect: dropshadow(gaussian, #3ea83e, 20, 0, 0, 1);
}

#importPlayerButton {
    -fx-text-fill: #262522;
    -fx-font-size: 15px;
    -fx-background-color: lightgreen;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, #3ea83e, 10, 0, 0, 1);
}

#importPlayerButton:hover {
    -fx-background-color: #9cec9c;
}

#labelPlayer {
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

#playerNameTextField {
    -fx-font-family: Consolas;
    -fx-font-size: 15;
    -fx-text-fill: #ffffff;
    -fx-background-color: #60605f;
    -fx-display-caret:true;
}

#infoLabel {
    -fx-font-weight: 500;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

#vboxDetailedStats {
    -fx-text-fill: white;
    -fx-background-color: #302E2B;
}

#detailedStatsName {
    -fx-text-fill: white;
    -fx-font-size: 40px;
    -fx-font-weight: 800;
}

#detailedGameNumber {
    -fx-font-family: "Montserrat";
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: 700;
}

#detailedWinCount {
    -fx-text-fill: #8ab554;
    -fx-font-size: 22px;
}

#detailedLoseCount {
    -fx-text-fill: #d3402c;
    -fx-font-size: 22px;
}

#detailedPercentageWin {
    -fx-text-fill: #8ab554;
    -fx-font-size: 18px;
}

#detailedPercentageLose {
    -fx-text-fill: #d3402c;
    -fx-font-size: 18px;
}


.progress-bar {
    -fx-accent: #8ab554;
}

.progress-bar > .track {
    -fx-text-box-border: #d3402c;
    -fx-control-inner-background: #d3402c;
    -fx-background-color: #d3402c;
}

.progress-bar .bar {
    -fx-background-insets: 0;
    -fx-padding: 5px;
}

.table-view {
    -fx-background-color: #302E2B;
    -fx-text-background-color: white;
    -fx-font-family: "Montserrat 100";
}

.table-row-cell:hover {
    -fx-background-color: #595853;
    -fx-text-background-color: #8ab554;
}
.table-row-cell:odd{
    -fx-background-color: #302E2B;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #3c3a37;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .column-header {
    -fx-background-color: #595853;
}

.tab:selected {
    -fx-background-color: #302E2B;
}
.tab-pane {
    -fx-background-color: #302E2B;
}

*.tab-header-area {
    -fx-background-color: black;
}

.tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tab {
    -fx-alignment: CENTER;
    -fx-background-color: #21201D;
    -fx-padding: 15;
    -fx-text-fill: white;
}

.root {
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
}